<div class="container">
  <header>
      <h3>{{tittle}}</h3>
  </header>
  <div class="col-md-12">
    <nav>
      <ul>
        <li>
          <a (click)="SwitchDiplay(displayModeEnum.Card)" [class.active]="activeMode === displayModeEnum.Card">{{card}}</a>
        </li>
        <li>
          <a (click)="SwitchDiplay(displayModeEnum.List)" [class.active]="activeMode === displayModeEnum.List">{{list}}</a>
        </li>
        <li>
          <a (click)="SwitchDiplay(displayModeEnum.Map)" [class.active]="activeMode === displayModeEnum.Map">{{map}}</a>
        </li>
        <li>
          <a>{{newCustomer}}</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
