/* You can add global styles to this file, and also import other style files */
*{
  margin: 0px;
  padding:0px;
}
footer p{
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    font-family: sans-serif;
    text-align: center;
    color: #545454;
}
.container{
  width: 1024px;
  margin: auto;
}

.container-fluid{
  width: 100%;
}
